*.[oa]
*~
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeFiles
CMakeCache.txt
CMakeSystem.cmake
CMakeTmp
Makefile
cmake*
*.kdev4

# ignore precompiled header
*.gch

# ignore all Results in Examples directory
/Examples**/Results*
/Examples/oscill/Test*
#ignore pdf
*.pdf
*para_functional*
*para_error*
*functional.txt

# ignore binaries
/bin*

# ./doc directory
/doc/gascoigne.tag
/doc/html/
/doc/latex/
/doc/taginformation.cmake

# ignore changes to oscill param file (it is not removed from the repo though)
fsi-3.param
